* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 100px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.hidden {
    display: none;
}

.menu_item {
    margin-top: 5px;
    width: 250px;
    background-color: brown;
    color: white;
    padding: 10px;
    border-left: 15px solid rgb(84, 5, 5);
    letter-spacing: 0.1em;
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

span {
    display: flex;
    align-items: center;
    gap: 15px;
}

.openedMenu::before {
    content: attr(icon-opened);
    width: 20px;
    text-align: center;
    position: absolute;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    transform: translateX(-240%);
}